$backgroundHeader: url("../img/header_background_v1.jpg");
$fontText: normal, "Roboto", "Ubuntu", "Cantarell", Helvetica ,sans-serif;
$meanFontSize: 15px;
$h1size: 24px;
$h1Left: 88%;
$sectionWidth: 50%;
$borderRtColor:#607d8b;
$btnTextCol: #ececec;
$btnColor: #01acac;
$btnLeft: 29%;
$textColor:#ececec;
$mainBgColor:white;
$backgroundArticle:#efefef;
$header1Color:#000000;
$headerDescriptColor: #e90303;
$h3Color:#01acac;
$pDescriptColor:#000000;
$lineColor: #607d8b;