$backgroundHeader: url("../img/header_background_v2.jpg");
$fontText: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$meanFontSize: 18px;
$h1size: 26px;
$h1Left: 86%;
$sectionWidth: 55%;
$borderRtColor:#cfd8dc;
$btnTextCol: #effffa;
$btnColor: #0401ac;
$btnLeft: 32%;
$textColor:#ff5722;
$mainBgColor:#efefef;
$backgroundArticle:#ffffff;
$header1Color:#757575;
$headerDescriptColor: #bdbdcc;
$h3Color:#607d8b;
$pDescriptColor:#757575;
$lineColor: #cfd8dc;