*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {    
    font-family: "Open Sans";  
}
header, .brand, .text, .article, 
.picture-article, .text-article, 
.box, .email, footer {
    display: flex;
    flex-direction: column;
}
header{    
    justify-content: space-around;
    background-image: url("../img/sample2.jpg");
    height: 100vh;
    background-size: cover;
}
.top-text{
    margin-top:-60px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 1;
}
.top-text span{
    padding-left: 30px;
    padding-top: 5px;
    letter-spacing: 5px;    
}
ul{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}
ul a {    
    color: #FFFFFF;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}
.brand {    
    align-items: center;
    color: #FFFFFF;  
    width: 100%; 
    z-index: 1;   
} 
h1{    
    margin: 0;
    letter-spacing: 5px;
}
.brand-descrip{   
    width: 100%;
    text-align: center;    
    font-size: 8px;
}
.big{
    font-size: 45px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    z-index: 1;
}
nav a {
    background: #00000080;
    font-size: 10px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 40px;
    text-decoration: none;    
}
.text{
    background: #000000;    
    justify-content: space-between;      
    height: 150px;          
}
.right-p{
    right: 2%;
    color:#FFFFFF;
    font-size: 11px;        
    display: flex;
    justify-content: flex-end;
    width: 100%;    
}
.left-p{    
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #000000;
    font-size: 13px;    
    position: relative;
}
.left-p p{    
    padding-left: 5px;
    position: relative;
    z-index: 1;
}
.left-p:after{
    content: ''; 
    position: absolute; 
    right: 0; 
    bottom: 0;
    border: 1930px solid transparent;
    border-bottom: 150px solid #F3F3F3;    
}
.article {
    margin: 0;
    padding: 0;
    background: #F3F3F3;    
    height: 350px;        
}
.main-article {
    margin: 0;    
    padding-top: 2%;
    display: flex; 
    justify-content: space-between;    
    height: 100%; 
}
.header-article{
    text-align: center;
}
.picture-article {    
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    height: 73%;
    width: 54%;
    background-image: url("../img/sample.jpg");
    background-size: cover;    
}
.text-article{
    margin: 0 2%;    
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 8%;
    width: 50%;
    align-items: center;
}
.img-button{
    display: flex;
    justify-content: flex-end;  
}
.img-button a{
    margin: 10px 10px;
    text-decoration: none;
    background: #00000070;
    font-size: 10px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 5px 10px;
}
.img-text{
    margin: 13px 12px;
    font-size: 12px;
    color: #F3F3F3;
}
.text-article p { 
    padding: 1vh 0;   
    text-align: center;
    font-size: 10px;
}
.content-box {    
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #FFFFFF;
}
.box {
    font-size: 12px;
    box-shadow: 0px 2px 5px 0px #000000;
    background: #FFFFFF;    
    width: 250px;
    margin: 2% 5% 3% 5%; 
    padding: 1% 1% ;          
}
.box p{
    margin: 0;
}
.box div{
    margin: 2% 5%;
}
.box a {  
    margin-bottom: 3%;  
    text-decoration: none;
    padding: 1% 41%;
    background: #097774;    
    border: none;
    color: #F3F3F3;
    width: 100%    
}
.email {    
    background: #F3F3F3;  
}
.email-text{
    font-size: 10px;
    margin: 2% 1% 0 2%;
}
.email-input{
    display: flex;
    justify-content: flex-end;
    margin: 0 2% 2% 2%;
}
.email-form {
    background: #F3F3F3;
    border: 1px solid #000000;
    margin: 0 1%;
    color: #000000;
    font-size: 7px;
    width: 8%;
    height: 25px;
    text-indent: 10%;
}
.email-form::placeholder{
    color: #000000;
}
.email-button{
    background: #097774;
    color: #F3F3F3;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;
    padding: 0 3px;
}
footer{
    background: #FFFFFF;
}
h5{
    font-size: 12px;    
    margin-bottom: 2%;
    color: #000000;
}
.footer-content{
    display: flex;
}
.footer-block-1, .footer-block-2, 
.footer-block-3, .footer-block-4 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 25%;
    margin: 4% 2% 4% 2%;
    color: #9E9E9E;
}
.footer-block-2 span{
    color: #E8E8E8;
}
.footer-form{
    display: flex;    
}
.footer-email{
    background: #F3F3F3;
    border: 1px solid #000000;
    margin-right: 3%;
    color: #000000;
    font-size: 7px;
    width: 35%;
    height: 25px;
    text-indent: 6%;
}
.footer-email::placeholder{
    color: #000000;
}
.footer-button {
    background: #097774;
    color: #f3f3f3;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;
    padding: 0 3px;
}
.footer-nav {    
    color: #9E9E9E;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 1% 2%;    
}
.footer-nav::before{
    position: absolute;
    margin: -1% 0;        
    content: "";
    height: 1px;
    background-color: #E8E8E8;
    width: 96%;
}
.footer-nav a{
    padding-left: 5px;
    text-decoration: none;
    color: #000000;
}